/* .box{
    height: 150px;
    width: 100px;
    background-color: blue;
    color: white;
    border: 2px solid black;
} */

.content{
    color:red; 
}
.newclass{
    background-color: green;
}