* {
    box-sizing: bordetr-box;
}
    
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 18px;
    padding: 8px;
}
.container {
  background-color: aliceblue;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
